<div class="container">
  <div class="jumbotron">
    <h1 style="text-align: center;color: brown;">
      student CRUD application
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-student></app-student>
    </div>
    <div class="col-md-6">
      <app-student-list></app-student-list>
    </div>
  </div>
</div>
<ngx-spinner type="line-scale-party" color="red">
  <p style="color: white;">Loading...</p>
</ngx-spinner>