<div class="row">
    <div class="col-md-6 form-group">
        <input [(ngModel)]="studentService.currentStudent.name" placeholder="Student Name" class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <input [(ngModel)]="studentService.currentStudent.branch" placeholder="Branch" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <input [(ngModel)]="studentService.currentStudent.address" placeholder="Address" class="form-control">
    </div>
    <div class="col-md-8 form-group">
        <input [(ngModel)]="studentService.currentStudent.prnNumber" placeholder="PRN Number" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <p-dropdown [options]="allState" [(ngModel)]="studentService.currentStudent.state"></p-dropdown>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <input [(ngModel)]="studentService.currentStudent.sport" placeholder="sport" class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <input [(ngModel)]="studentService.currentStudent.code" placeholder="code" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-outline-success btn-block btn-lg" (click)="save(studentService.currentStudent)">
            <i class="fa fa-save"></i> SAVE
        </button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-outline-primary btn-block btn-lg" (click)="clear()">
            <i class="fa fa-save"></i> CLEAR
        </button>
    </div>
</div>