<table class="table table-hover">
    <tr *ngFor="let student of studentService.allStudent">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.branch}}</td>
        <td>{{student.address}}</td>
        <td>{{student.prnNumber}}</td>
        <td>{{student.sport}}</td>
        <td>{{student.code}}</td>
        <td>
            <a class="text-denger" class="pointer" (click)="editStudent(student)">
                <i class="fa fa-edit"></i>
            </a>
        </td>
        <td>
            <a class="text-denger" class="pointer" (click)="deleteStudent(student.id)">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
</table>